
body{
    background: #8360c3;  /* fallback for old browsers */
    background: linear-gradient(to top, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    
}

.navbar-brand{
    font-family: vegur, 'PT Sans',Verdana,  sans-serif;
    margin-left: 100px;


}
.btn-option{
    nav-down: 20px;
    margin-top: 20px;
}


