
    <form action="/posts" method="post">
        <input type="text" name="Titulo" placeholder="@Titulo del post"><br>
        <textarea name="Contenido" id="" cols="40" row="30">contenido</textarea><br>
        <input type="text" name="img" placeholder="@link de la imagen"><br>
        <input type="text" name="Autor" placeholder="@author"><br>


        <button>Postear</button>

        <!-- <button type="button" class="btn btn-danger">Postear</button> -->
    </form>
